!.gitignore
!README.md
!CHANGELOG.md
!LICENSE
!.env.example
.bak/
*.bak
logs/
*.log
docker-compose.override.yml
.dockerignore
*.env
!backup.env
!global.env
tmp/
temp/
*.tmp
letsencrypt
/config/*
!config/monitor
!config/homepage
/config/homepage/images
!config/network
config/network/crowdsec
log
secrets.toml
appdata/
.vscode/
*.pem
!*/compose*.yml
!*/compose*.yaml
!*/docker-compose*.yml
!*/docker-compose*.yaml
