!.gitignore
!README.md
!CHANGELOG.md
!LICENSE
!.env.example
.bak/
*.bak
logs/
*.log
docker-compose.override.yml
.dockerignore
*.env
!backup.env
!global.env
docs/
tmp/
temp/
*.tmp
config/
log
secrets.toml
appdata/
.vscode/
*.pem
!*/compose*.yml
!*/compose*.yaml
!*/docker-compose*.yml
!*/docker-compose*.yaml
