*.env
.idea
*.bak
.vscode
docker-compose.override.yml
*/homepage/logs
*/homepage/*.yaml
*/homepage/*.css
*/homepage/*.js
*/sonarr
*/radarr
*/prowlarr
*/lidarr
*/bazarr
*/qbittorrent
*/pia
*/cert
*/jellyseerr
*/sabnzbd
*/scrutiny
*/plex
*/profilarr
*/jellyfin
portainer/data
