[[server]]
name = "pbox"
[server.config]
address = "https://host.docker.internal:8120"
enabled = true
cpu_warning = 92.0
disk_warning = 80.0

##

[[stack]]
name = "arr"
[stack.config]
server = "pbox"
poll_for_updates = true
auto_update = true
git_account = "cwelsys"
repo = "cwelsys/stacks"
run_directory = "media/process"
file_paths = ["arr.yaml"]
environment = """
SONARR_API_KEY=[[SONARR__API]]
RADARR_API_KEY=[[RADARR__API]]
LIDARR_API_KEY=[[LIDARR__API]]
PROWLARR_API_KEY=[[PROWLARR__API]]
WHISPARR_API_KEY=[[WHISPARR__API]]
"""

##

[[stack]]
name = "core"
[stack.config]
server = "pbox"
auto_update = true
git_account = "cwelsys"
repo = "cwelsys/stacks"
file_paths = ["core.yaml"]

##

[[stack]]
name = "discord"
[stack.config]
server = "pbox"
git_account = "cwelsys"
repo = "cwelsys/stacks"
run_directory = "apps/discord"
file_paths = ["membarr.yaml", "muse.yaml", "redbot.yaml", "requestarr.yaml"]
environment = """
GOOGLE_API=[[GOOGLE__API]]
GEOAPIFY_API=[[GEOAPIFY__API]]
REDBOT_TOKEN=[[DISCORD__REDBOT]]
MUSE_TOKEN=[[DISCORD__MUSE]]
MEMBARR_TOKEN=[[DISCORD__MEMBARR]]
DOPLARR_TOKEN=[[DISCORD__DOPLARR]]
JELLYSEERR_API_KEY=[[JELLYSEERR__API]]
"""

##

[[stack]]
name = "downs"
[stack.config]
server = "pbox"
git_account = "cwelsys"
repo = "cwelsys/stacks"
run_directory = "media/process"
file_paths = ["sab.yaml", "tortun.yaml"]
environment = """
QBIT_USERNAME=admin
QBIT_PASSWORD=[[QBITTORRENT__PASSWORD]]
SABNZBD_API_KEY=[[SABNZBD__API]]
WIREGUARD_PRIVATE_KEY=[[PROTON__WIREGUARD]]
GLUETUN_APIKEY=[[GLUETUN__API]]
"""

##

[[stack]]
name = "media"
[stack.config]
server = "pbox"
git_account = "cwelsys"
repo = "cwelsys/stacks"
run_directory = "media/consume"
file_paths = [
  "audio.yaml",
  "book.yaml",
  "jellyfin.yaml",
  "stash.yaml",
  "game.yaml",
]
environment = """
HARDCOVER_TOKEN=[[CALIBRE__HCAPI]]
JELLYPG_PASS=[[JELLYSTAT__POSTGRES]]
JELLYS_JWT=[[JELLYSTAT__JWT]]
ROMM_DB_PW=[[ROMM__ROMMDB]]
MARIADB_PW=[[ROMM__MARIADB]]
ROMM_AUTH=[[ROMM__AUTH]]
SCREENSCRAPER_PW=[[ROMM__SCREENSC]]
RETROC_API_KEY=[[ROMM__RETRO_CHIEV]]
STEAMGRID_API_KEY=[[STEAMGRID__API]]
IGDB_CLIENT_ID=[[ROMM__IGDB_ID]]
IGDB_CLIENT_SECRET=[[ROMM__IGDB_SECRET]]
LASTFM_API_KEY=[[LASTFM__API]]
LASTFM_SECRET=[[LASTFM__SECRET]]
"""

##

[[stack]]
name = "monitor"
[stack.config]
server = "pbox"
poll_for_updates = true
auto_update = true
git_account = "cwelsys"
repo = "cwelsys/stacks"
run_directory = "monitor"
file_paths = [
  "beszel.yaml",
  "dozzle.yaml",
  "scrutiny.yaml",
  "speed.yaml",
  "homepage.yaml",
]
environment = """
INFLUXDB_PASS=[[TRAEFIK__INFLUXDB_PASS]]
INFLUXDB_TOKEN=[[TRAEFIK__INFLUXDB_TOKEN]]
BESZEL_KEY=[[BESZEL__KEY]]
SPEED_API=[[SPEEDTEST__API]]
SONARR_API_KEY=[[SONARR__API]]
RADARR_API_KEY=[[RADARR__API]]
PROWLARR_API_KEY=[[PROWLARR__API]]
SABNZBD_API_KEY=[[SABNZBD__API]]
QBIT_PASSWORD=[[QBITTORRENT__PASSWORD]]
OPENWEATHERMAP_TOKEN=[[OPENWEATHERMAP__API]]
HP_LOC_LABEL=[[HOMEPAGE__LOCATION]]
HP_LOC_LAT=[[HOMEPAGE__LAT]]
HP_LOC_LONG=[[HOMEPAGE__LONG]]
TS_API=[[TAILSCALE__API]]
CLOUDFLARE_API=[[CLOUDFLARE__API]]
CLOUDFLARE_ACC_ID=[[CLOUDFLARE__ACCOUNT]]
TUNNEL_ID=[[CLOUDFLARE__TUNNEL_ID]]
CROWDSEC_PASS=[[CROWDSEC__API]]
LIDARR_API_KEY=[[LIDARR__API]]
WHISPARR_API_KEY=[[WHISPARR__API]]
BAZARR_API_KEY=[[BAZARR__API]]
JELLYSEERR_API_KEY=[[JELLYSEERR__API]]
TAUTULLI_API_KEY=[[TAUTULLI__API]]
PLEX_API_KEY=[[PLEX__API]]
PROTON_ICAL=[[PROTON__ICAL]]
AUTHENTIK_API=[[AUTHENTIK__API]]
FINNHUB_TOKEN=[[FINNHUB__API]]
CALIBRE_PASS=[[CALIBRE__PASSWORD]]
GLUETUN_API_KEY=[[GLUETUN__API]]
HOMEASS_API_KEY=[[HOMEASSISTANT__API]]
GRAFANA_PASS=[[GRAFANA__API]]
JELLYFIN_API_KEY=[[JELLYFIN__API]]
STASH_API_KEY=[[STASH__API]]
TECHNITIUM_API_KEY=[[TECHNITIUM__API]]
IMMICH_API_KEY=[[IMMICH__API]]
MEALIE_API_KEY=[[MEALIE__API]]
BESZEL_PW=[[BESZEL__PASSWORD]]
NEXTCLOUD_PW=[[NEXTCLOUD__PASSWORD]]
NEXTCLOUD_API_KEY=[[NEXTCLOUD__TOKEN]]
GITEA_API_KEY=[[GIT__PAT]]
NEXTDNS_API_KEY=[[NEXTDNS__API]]
KOMO_API_KEY=[[KOMODO__API]]
KOMO_API_SECRET=[[KOMODO__API_SECRET]]
FRESHRSS_API_KEY=[[FRESHRSS__API]]
AUTOBRR_API_KEY=[[AUTOBRR__API]]
STEAMGRID_API_KEY=[[STEAMGRID__API]]
KAVITA_API_KEY=[[KAVITA__API]]
ABS_API_KEY=[[AUDIOBOOKSHELF__API]]
READARR_API_KEY=[[READARR__API]]
"""

##

[[stack]]
name = "proxy"
[stack.config]
server = "pbox"
poll_for_updates = true
auto_update = true
git_account = "cwelsys"
repo = "cwelsys/stacks"
run_directory = "network"
file_paths = ["external.yaml", "internal.yaml", "kop.yaml"]
environment = """
CF_DNS_API_TOKEN=[[CLOUDFLARE__API]]
INFLUXDB_TOKEN=[[TRAEFIK__INFLUXDB_TOKEN]]
CF_TRAEFIK_TUNNEL_TOKEN=[[CLOUDFLARE__TUNNEL]]
CS_TRAEFIK_BOUNCER_KEY=[[CROWDSEC__BOUNCER]]
BOUNCER_HOST=crowdsec:8080

"""

##

[[stack]]
name = "services"
[stack.config]
server = "pbox"
poll_for_updates = true
auto_update = true
git_account = "cwelsys"
repo = "cwelsys/stacks"
run_directory = "apps"
file_paths = [
  "slop.yaml",
  "nextcloud.yaml",
  "searxng.yaml",
  "monkey.yaml",
  "immich.yaml",
  "umami.yaml",
  "it-tools.yaml",
  "linkding.yaml",
]
environment = """
IMMICH_PG_PASS=[[IMMICH__POSTGRES]]
UMAMI_APP_SECRET=[[UMAMI__SECRET]]
UMAMI_DB_PASSWORD=[[UMAMI__POSTGRES]]
OWUI_JWT=[[OPENWEBUI__JWT]]
"""

##

[[stack]]
name = "utils"
[stack.config]
server = "pbox"
auto_update = true
git_account = "cwelsys"
repo = "cwelsys/stacks"
run_directory = "utils"
file_paths = [
  "sock.yaml",
  "ftp.yaml",
  "rdesk.yaml",
  "backrest.yaml",
  "atvsl.yaml",
]
environment = """
SFTPGO_DB_PASS=[[SFTPGO__PASSWORD]]
OBSI_LS_PW=[[COUCHDB__PASSWORD]]
"""

##

[[repo]]
name = "stacks"
[repo.config]
server = "pbox"
builder = "local"
git_account = "cwelsys"
repo = "cwelsys/stacks"

##

[[procedure]]
name = "Global Auto Update"
description = "Pulls and auto updates Stacks and Deployments using 'poll_for_updates' or 'auto_update'."
tags = ["system"]
config.schedule = "Every day at 03:00"

[[procedure.config.stage]]
name = "Stage 1"
enabled = true
executions = [
  { execution.type = "GlobalAutoUpdate", execution.params = {}, enabled = true },
]

##

[[builder]]
name = "local"
[builder.config]
type = "Server"
params.server_id = "pbox"

##

[[resource_sync]]
name = "stacks"
[resource_sync.config]
repo = "cwelsys/stacks"
git_account = "cwelsys"
resource_path = ["sync.toml"]
managed = true
